{% for month in data.months %}
    <div class="b-message-block-title">{{ month.NAME }}</div>

    <div class="b-message-block">
        <!-- Для отображения нового сообщения добавить класс is-new -->
        {% for message in month.ELEMENTS %}
            <div class="b-message-block__item{% if message.IS_NEW %} is-new{% endif %}">
                <div class="b-message-block__item-title">
                    <a href="{{ message.LINK }}" class="b-link-line">{{ message.NAME }}</a>
                </div>
                <div class="b-message-block__item-desc">
                    <span class="b-message-block__item-time">{{ message.TIME }}</span>
                    <time datetime="{{ message.DATE }}" class="b-message-block__item-date">{{ message.DATE_FORMAT }}</time>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}