<section class="b-advantages {% if modify %}{{ modify }}{% endif %}">
    <div class="b-advantages__img">
        <img src=" {{ src }} " alt=" {{ alt }} ">
    </div>
    <div class="b-advantages__block">
        <div class="b-advantages__title">
            <h2> {{ title }} </h2>
        </div>
        <div class="b-advantages__text"> {{ text }} </div>
    </div>
</section>
