{% if href %}
    <a
        href="{{ href }}"
        class="b-button {% if modify %}{{modify}}{% endif %}">
         {{ text }}
    </a>
{% else %}
    <button
        type="button"
        class="b-button {% if modify %}{{modify}}{% endif %}">
            {{ text }}
    </button>
{% endif %}
