{% for novelty in news %}
    <div class="b-news__item b-news-item">

        <div class="b-news-item__top">
            <div class="b-news-item__image">
                <img src="{{ novelty.IMAGE_PREVIEW_PATH }}" alt="{{ novelty.NAME }}">
            </div>
            <div class="b-news-item__title">
                <a href="{{ novelty.DETAIL_PAGE_URL }}"><span>{{ novelty.NAME }}</span></a>
            </div>
        </div>

        <ul class="b-news-item__tags">
            <li class="b-news-item__date">
                {% include '../media/time.svg.twig' %}
                {{ novelty.DATE_SHOW_FORMAT }}
            </li>

            {% for tag in novelty.TAGS %}
                <li><a href="#" class="j-news-tag" data-tag="{{ tag.ID }}">{{ tag.NAME }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
