{% if id %}
    <textarea
            id="{{ id }}"
            class="b-input-text {{ modify }}"
            name="{{ name }}"
            rows="{{ rows }}"
            cols="{{ cols }}"
            placeholder="{{ placeholder }}"
    ></textarea>

{% else %}
    <h2 style="color: red">Пожалуйста, укажи уникальный id для инпута</h2>
{% endif %}
