{% if id %}
    <div class="b-form__checkbox">
        <input
            id="{{ id }}"
            class="b-form__checkbox-input"
            type="checkbox"
            value="{{ value }}"
            name="{{ name }}"
            {% if checked %} checked {% endif %}
            {% if disabled %} disabled {% endif %}
            {% if required %} required {% endif %}
        >
        <label for="{{ id }}" class="b-form__checkbox-label">
            {% include './checkbox.svg.twig' %}
            <span class="b-form__checkbox-text">{{ text }}</span>
        </label>
    </div>
{% else %}
    <p>Пожалуйста, укажи уникальный id для инпута</p>
{% endif %}
