<input
        id="{{ id }}"
        class="b-input-text {{ modify }}"
        type="text"
        name="{{ name }}"
        maxlength="{{ maxlength }}"
        autocomplete="{{ autocomplete }}"
        value="{{ value }}"
        placeholder="{{ placeholder }}"
        {% if disabled %} disabled {% endif %}
        {% if required %} required {% endif %}
        {% if readonly %} readonly {% endif %}
        {% if hidden %} hidden {% endif %}
        {% if pattern %} pattern="{{ pattern }}" {% endif %}
        {% if autocapitalize %} autocapitalize="{{ autocapitalize }}" {% endif %}
        {% if dateMask %} data-date="true"{% endif %}
        {{ attributes }}
>
{% if not id %}
    <h2 style="color: red">Пожалуйста, укажи уникальный id для инпута</h2>
{% endif %}
