<div class="b-review-popup">
    <div class="b-review-popup__img">
        <img src="{{ content.img }}" alt="">

        <div class="b-review-popup__info">
            <span class="b-review-popup__name">{{ content.name }}</span>
            <span class="b-review-popup__description">{{ content.description }}</span>
        </div>
    </div>

    <div class="b-review-popup__info b-review-popup__info_is_adapt">
        <span class="b-review-popup__name">{{ content.name }}</span>
        <span class="b-review-popup__description">{{ content.description }}</span>
    </div>

    <div class="b-review-popup__text">
        {{ content.text }}
    </div>
</div>
