<div class="b-review-popup">
    <div class="b-review-popup__img">
        <img src="{{ IMAGE_ID_PATH }}" alt="">

        <div class="b-review-popup__info">
            <span class="b-review-popup__name">{{ NAME }}</span>
            <span class="b-review-popup__description">{{ COMMENT }}</span>
        </div>
    </div>

    <div class="b-review-popup__info b-review-popup__info_is_adapt">
        <span class="b-review-popup__name">{{ NAME }}</span>
        <span class="b-review-popup__description">{{ COMMENT }}</span>
    </div>

    <div class="b-review-popup__text">
        {{ BODY }}
    </div>
</div>
