<div class="b-visual-tooltip" style="top: 0; left: 0;">
    {% if IMAGE %}
        <img class="b-visual-tooltip__img" src="{{ IMAGE }}" alt="{{ NAME }}">
    {% endif %}
    <div class="b-visual-tooltip__body">
        <div class="b-visual-tooltip__title">{{ NAME }}</div>
        <div class="b-visual-tooltip__description">{{ TYPE }}</div>
        <div class="b-visual-tooltip__info">
            <div class="b-visual-tooltip__info-text">{{ AREA_TITLE }}</div>
            <div class="b-visual-tooltip__info-value">{{ AREA }}</div>
        </div>
        {% if SITE %}
        <div class="b-visual-tooltip__site-link">
            <a href="{{ SITE.URL }}" target="_blank" class="b-link-line">{{ SITE.TITLE }}</a>
        </div>
        {% endif %}
    </div>
</div>
