<section class="b-offers">
    <div class="b-offers__title">
        <h2>{{ title }}</h2>
    </div>
    <div class="b-offers__img">
        <img src="{{ src }}" alt="{{ alt }}">
    </div>
    <div class="b-offers__block">
        {#<div class="b-offers__block">#}
            <div class="b-offers__text">{{ text }}</div>
            {% for block in lists %}
                {% if block.subtitle %}
                    <h3 class="b-offers__subtitle"> {{ block.subtitle }} </h3>
                {% endif %}
                <ul class="b-offers__list">
                    {% for item in block.items %}
                        <li class="b-offers__item">{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
            {{ content }}
            <button class="button b-offers__button j-service-button" data-href="#service" data-id="{{ id }}">Оставить заявку</button>
        {#</div>#}
    </div>
</section>
